.App {
  text-align: center;
}

.standardButton {
  background-color: hsl(30, 25%, 89%);
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  color: hsl(222, 26%, 31%);
  box-shadow: 0 4px 2px 0px hsl(28, 16%, 65%);
}

.markButton {
  background-color: hsl(225, 21%, 49%);
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  color: white;
  box-shadow: 0 4px 2px 0px hsl(224, 28%, 35%);
}

.redButton {
  background-color: hsl(6, 63%, 50%);
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  color: white;
  box-shadow: 0 4px 2px 0px hsl(6, 70%, 34%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
